---
title: "Untitled"
format: html
---

In [2]:
import numpy as np
import pandas as pd
from TFT import TFT

In [3]:
tft = TFT(cache_data=False)

Create simulated data

In [4]:
n_days = 100
n_daily_vars = 4

df_daily = pd.DataFrame(
    np.random.randn(n_days, n_daily_vars),
    index=pd.date_range(start="2024-01-01", periods=n_days, freq="D")
)
df_daily.columns = [f"daily_var{i}" for i in range(n_daily_vars)]
df_daily

            daily_var0  daily_var1  daily_var2  daily_var3
2024-01-01   -1.275040    1.563780    1.802205   -0.825091
2024-01-02    1.394791   -0.610783    0.132817    0.108923
2024-01-03   -0.479811    1.445293   -2.202828    0.844376
2024-01-04   -0.070439   -0.946472    0.976319   -0.092963
2024-01-05    0.338552    1.014758   -0.024017   -0.375485
...                ...         ...         ...         ...
2024-04-05   -1.114548    1.757599   -0.157044    1.023384
2024-04-06    0.715054    0.589661    0.265281   -0.490461
2024-04-07    1.130312    1.589359    0.114285    1.266675
2024-04-08   -1.009278    1.428206   -1.057081    1.572358
2024-04-09   -0.294879    0.267689   -0.672318   -0.336341

[100 rows x 4 columns]

In [14]:
n_months = 8
n_monthly_vars = 4

df_monthly = pd.DataFrame(
    np.random.randn(n_months, n_monthly_vars),
    index=pd.date_range(start="2024-01-01", periods=n_months, freq="ME")
)
df_monthly.columns = [f"monthly_var{i}" for i in range(n_monthly_vars)]
df_monthly

            monthly_var0  monthly_var1  monthly_var2  monthly_var3
2024-01-31      0.745972      1.628281     -1.397503      0.895692
2024-02-29     -1.115834     -1.751279     -1.610242      0.509783
2024-03-31      0.437004      0.523368     -0.030421      0.616822
2024-04-30     -0.721885      0.028421     -0.160878      1.332612
2024-05-31     -0.682440      0.310426      0.411113      1.100136
2024-06-30      0.363989     -0.734952      1.456872      1.074604
2024-07-31      0.142170     -1.230464     -0.645169     -0.565455
2024-08-31     -1.778321      0.169185      0.418738      0.785059

Now we create the dependent variable

In [15]:
df_y = df_monthly.pop("monthly_var0")
df_y = pd.DataFrame(df_y)

In [16]:
df_y

            monthly_var0
2024-01-31      0.745972
2024-02-29     -1.115834
2024-03-31      0.437004
2024-04-30     -0.721885
2024-05-31     -0.682440
2024-06-30      0.363989
2024-07-31      0.142170
2024-08-31     -1.778321

In [ ]:
tft.fit(
    X={"D": df_daily, "ME": df_monthly},
    y={"ME": df_y}
)